:root{
    --Alfa-color:#7C3E66;
    --Blue-color:#243A73;
    --Charly-color:#F2EBE9;  
    --Delta-color:#A5BECC;    
    --color-claro:#EEEEEE;
    --color-obscuro:#222831;
    --fuente-primaria:'Montserrat';
    --fuente-secundaria:'Poppins'; 
}


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: var(--Delta-color);
    font-family: var(--fuente-primaria), sans-serif;
    display: flex;
    flex-direction: column;
}

/*  inicio de cabezera */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.logo{
    background-color: transparent;
    width: 80px;
    height: auto;
}
.logoImagen{
    margin-top: 15px;
}
.titulo{  
    font-size: 27px;
    font-weight: bolder;
    padding-bottom: 30px;
}
.link{
    text-decoration: none;
    color: var(--Alfa-color);
}
.linkMenu{
    text-decoration: none;
    color: var(--Charly-color);
}
.navBar{
    width: 100%;
    height: 50vh;
}
.menu{
    font-family: var(--fuente-secundaria); 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh; 
}
.menu_item{
    padding: 7px 18px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 1px var(--color-obscuro);
    width: 120px
}
.menu_item:hover{
    box-shadow: 1px 1px 1px 1px var(--color-obscuro);
    
    transition: 0.5s;
    
}
.linkMenu:hover{
    color: var(--color-obscuro);
    transition: 0.4s;
}


/* hamburguesa */


.hamburguesa{
    background-color: var(--Alfa-color);
    height: 30px;    
    width: 30px;
    border-radius: 3px;
    display: flex; 
}
.meet{
    background-color: var(--Charly-color);
    height: 2px;
    width: 70%;
    border-radius: 25%;
    margin: auto;
}
 .meet::before{
    content: "";
    background: var(--Charly-color);
    display: block;
    height: 2px;
    border-radius: 25%;
    margin: 0 auto;
    transform: translateY(-7px);
}

.meet::after{
    content: "";
    background: var(--Charly-color);
    display: block;
    height: 2px;
    border-radius: 25%;
    margin: 0 auto;
    transform: translateY(7px);
} 
 .active{
    display: none;
}  


/* fin hamburguesa  */


    /*  fin de cabezera*/

    .imagenInicio{
        width: 700px;
        height: auto;
        position: fixed;
        top: 100px; 
        left: 11px;
        z-index: -1;
        
    }