:root{
    --Alfa-color:#7C3E66;
    --Blue-color:#243A73;
    --Charly-color:#F2EBE9;  
    --Delta-color:#A5BECC;    
    --color-claro:#EEEEEE;
    --color-obscuro:#222831;
    --fuente-primaria:'Montserrat';
    --fuente-secundaria:'Poppins'; 
}


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

